@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --surface: rgb(255 230 155);
  --primary: rgb(234 179 8);
  --background: rgb(254 252 232);
  background-color: var(--background);
}
.title-box {
  outline-width: 0.5rem;
  max-width: 100%;
  width: 300px;
  min-height: 60px;
  max-height: 100%;
  height: 60px;
  background-color: var(--primary)
}
.github {
  height: 50px;
  background-color: #040E12;
  color: var(--background);
  border-radius: 15px;
  cursor: pointer;
}
#activity {
  transition: height 1s, display 1s;
  overflow: hidden;
  background-color: var(--surface);
}
#activity.title-box {
  cursor: pointer;
}
#activity.collapsed {
  height: 60px;
}
#activity.expanded {
  height: 300px;
}
#activity.expanded .hidden {
  display: block;
}
#activity.expanded .hidden-when-expand {
  display: none;
}
#soccer {
  transition: height 1s;
  width: 300px;
  overflow: hidden;
  background-color: var(--surface)
}
#soccer.title-box {
  cursor: pointer;
}
#soccer.collapsed {
  height: 60px;
}
#soccer.expanded {
  height: 1000px;
}
#soccer.expanded .hidden {
  display: block;
}
#soccer.expanded .hidden-when-expand {
  display: none;
}

#drawing {
  transition: height 1s;
  width: 300px;
  overflow: hidden;
  background-color: var(--surface)
}
#drawing.title-box {
  cursor: pointer;
}
#drawing.collapsed {
  height: 60px;
}
#drawing.expanded {
  height: 1000px;
}
#drawing.expanded .hidden {
  display: block;
}
#drawing.expanded .hidden-when-expand {
  display: none;
}